<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Description</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
    {{#each item as |item|}}
    <tr>
      <td>{{item.item_name}}</td>
      <td>{{item.item_description}}.</td>
      <img src="{{item.item_image}}" class="img-thumbnail" alt="{{item.item_name}}">
    </tr>
  </tbody>
</table>