<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Description</th>
      <th scope="col">Picture</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Item 1</td>
      <td>Description....</td>
      <img src="..." class="img-thumbnail" alt="...">
    </tr>
  </tbody>
</table>