<img src="{{item_image}}" class="img-fluid" alt=".{{item_name}}">
<div class="card" style="width: 18rem;"></div>
<div class="card-body">
    <h5 class="card-title">{{item_name}}</h5>
    <p class="card-text">{{item_description}}</p>
  </div>
</div>