<div class="row">

  <img src="{{item_image}}" class="img-fluid mx-auto d-block col-8" alt=".{{item_name}}" />

</div>

<div class="card" style="width: 18rem;"></div>
<div class="row card-body">
  <h5 class="card-title text-center">{{item_name}}</h5>
  <p class="card-text text-center">{{item_description}}</p>
</div>