<img src="..." class="img-fluid" alt="...">
<div class="card" style="width: 18rem;"></div>
<div class="card-body">
    <h5 class="card-title">Item Title</h5>
    <p class="card-text">Item Description</p>
  </div>
</div>