<body>
 <div id="loginBody">
     <h1>Login</h1>
     <div id="loginInfo">
        <label for="fname">Email:</label><br>
        <input type="text" id="userEmail"><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="userPassword"><br><br>
        <input type="submit" value="Submit">
     </div>
 </div>
</body>