<form style="border:1px solid #ccc" class="login-form">
  <h1>Log in</h1>
  <div class="container">

  </div>

  <div class="container">
    <label for="userEmail"><b>Email</b></label>
    <input type="text" placeholder="Enter Username" name="userEmail" id="userEmail" required />

    <label for="userPassword"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="userPassword" id="userPassword" required />

    <button type="submit">Login</button>
  </div>

</form>

<form style="border:1px solid #ccc" class="signup-form">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr />

    <label for="userName"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="userName" id="userName" required />

    <label for="emailSignup"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="emailSignup" id="emailSignup" required />

    <label for="passwordSignup"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="passwordSignup" id="passwordSignup" required />

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>