@media (max-width: 767px) {
  .navbar .navbar-right.navbar-top {
    position: absolute;
    margin-top: 4px;
    right: 80px;
  }

  .navbar .navbar-right.navbar-top>li {
    display: inline-block;
  }

  .navbar .navbar-right.navbar-top>li>a {
    padding-right: 10px;
    padding-left: 10px;
  }
}

#loginBody {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Login */

form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
/* .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} */

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 700px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

.btn-primary {
  background-color: #04aa6d;
  border-color: #04aa6d;
}

.btn-primary:hover {
  background-color: #036440;
  border-color: #036440;
}

.Title {
  background-color: rgb(75, 75, 75);
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  padding: 20px;
  border-radius: 40px;
  width: fit-content;

}

.card {
  text-align: center;
}

.card-header {
  background-color: rgb(40, 40, 40);
  color: white;
  font-weight: bolder;
  font-size: large;

}

.card-body {
  background-color: rgb(75, 75, 75);
  color: white;

}

.form-group {
  text-decoration: double;

  width: 100%;
  box-sizing: border-box;

  box-sizing: border-box;
  background-color: white;
  text-align: center;
  padding-top: 16px;
  width: auto;
  margin: 24px 0 12px 0;
  border: none;

  width: 100%;
  box-sizing: border-box;
}

/* collection page css */
#colview {
  background-color: rgb(40, 40, 40);
  width: fit-content;
  padding: 2%;
}

#coltext {
  color: white;
  text-decoration: none;

  width: 50%;
}